@if (formControl) {
<mat-form-field appearance="outline">
  <mat-label>{{labels.labelCapitalized}}</mat-label>
  <span matTextPrefix><fa-icon [icon]="labels.icon" />&nbsp;&nbsp;</span>
  <input type="text"
         matInput
         [formControl]="formControl"
         [matAutocomplete]="institutionAutocomplete"
         #institutionAutoCompleteTrigger>
  <mat-autocomplete #institutionAutocomplete="matAutocomplete"
                    [displayWith]="displayFn"
                    (optionSelected)="onOptionSelected($event)">
    <ng-container *ngIf="searchedRecords$ | async as searchedRecords">
      @if (searchedRecords.length && formControl.value !== '' &&
      formControl.value !== undefined) {
      @for (record of searchedRecords; track record) {
      <mat-option [value]="record">
        <mat-card class="autocomplete-card">
          <mat-card-header>
            <img height="40"
                 width="40"
                 mat-card-avatar
                 [ngSrc]="record.thumb ? (record.thumb | serverImg ): 'assets/img/none.jpg'">
            <mat-card-title>{{record.name}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </mat-option>
      }
      } @else {
      @if (formControl.value !== '' && formControl.value !== undefined) {
      <mat-option disabled>
        <div>Nenhum{{labels.defArticle === 'o'? '': 'a'}} {{labels.label}} foi encontrad{{labels.defArticle}} para a
          busca
          {{formControl.value}}</div>
      </mat-option>
      }
      }
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
}
