<div class="footer-wrap">

  <div>
    <h3>Quem Somos</h3>
    <p>"Somos a <b>Approve Concursos</b> e nossa missão é
      ajudar você a potencializar os seus estudos para os principais concursos públicos. Nossa meta é facilitar o
      caminho até a sua aprovação, e para isso nos dedicamos integralmente para ajudar todos os nossos alunos. Iremos te
      auxiliar de várias maneiras inovadoras, o que irá possibilitar uma melhora em seu desempenho nas provas e maior
      compreensão do conteúdo estudado. Não temos dúvida que possuímos os melhores materias do mercado, que foram
      totalmente elaborados pensando na experiência do aluno. Venha fazer parte da comunidade <b>Approve Concursos</b>,
      aqui você irá estudar de forma simples e divertida, Bora
      APROVAR!"</p>
  </div>

  <div>
    <app-logo />
    <p><b>© Approve Concursos Ltda</b></p>
    <p><b>Todos os Direitos Reservados</b></p>
  </div>

  <div>
    <ul class="list">
      <li>
        <a href="https://pay.kiwify.com.br/QTgFGvk"
           target="_blank">Termos de Uso</a>
      </li>
      <li>
        <a href="https://pay.kiwify.com.br/QTgFGvk"
           target="_blank">Política de Privacidade</a>
      </li>
      <li><a href="https://pay.kiwify.com.br/QTgFGvk"
           target="_blank">Aviso Legal</a></li>
    </ul>
  </div>
</div>
