.toolbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
  }
}

a {
  all: unset;
  cursor: pointer;
}

hr.header-footer {
  height: 3px;
  background-color: var(--primary-color);
  border: none;
  margin: 0px;
}
