<div class="wrapper page">
  @if (displayedQuestions().length) {
  @for (question of displayedQuestions(); track $index) {
  <app-answerable-question [_question]="question"
                           [questionNo]="currentPage().start + $index + 1"
                           (nextPage)="nextPage($event)"
                           [prevAnswer]="answerMap.get(question.id)"
                           [pageEnd]="currentPage().end"
                           [questionIndex]="$index"
                           [examTotalQuestions]="totalQuestions" />
  }
  <mat-paginator [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="currentPageSize"
                 [length]="totalQuestions"
                 (page)="onPageEvent($event)"
                 [hidePageSize]="totalQuestions < pageSizeOptions[0]"
                 showFirstLastButtons>
  </mat-paginator>
  } @else {
  <p>🤔 Não foram encontradas questões para serem resolvidas</p>
  <button mat-flat-button
          color="primary"
          (click)="navigateToFilter()">
    <fa-icon [icon]="faMagnifyingGlass" /> Buscar outras questões
  </button>
  }
</div>
