<div class="list-wrap">
  <button mat-raised-button
          role="button"
          color="primary"
          (click)="navigateToAdd()">
    <fa-icon [icon]="faAdd" />
    Criar
  </button>
  <h3 class="list-label">{{labels.pluralCapitalized}}</h3>
</div>
@if (loadedSubjects()?.length) {
<div class="table-wrap scrollable">
  <table mat-table
         [dataSource]="loadedSubjects() || []"
         class="mat-elevation-z0">


    <ng-container matColumnDef="thumb">
      <th mat-header-cell
          *matHeaderCellDef></th>
      <td class="avatar-wrap"
          mat-cell
          *matCellDef="let element">
        <mat-card>

          <img mat-card-avatar
               [src]="element?.thumb? (element.thumb | serverImg ): 'assets/img/none.jpg'">
        </mat-card>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell
          *matHeaderCellDef> <fa-icon [icon]="faFingerprint" /> Id </th>
      <td mat-cell
          *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef> <fa-icon [icon]="faFont" /> Nome </th>
      <td mat-cell
          *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell
          *matHeaderCellDef> <fa-icon [icon]="faClock" /> {{labels.defArticle === 'o' ? 'Atualizado' :
        'Atualizada'}} em:</th>
      <td mat-cell
          *matCellDef="let element"> {{element.updatedDateTime | date:'short':'pt-BR'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell
          *matHeaderCellDef> Ações </th>
      <td mat-cell
          *matCellDef="let element">
        <button mat-icon-button
                [matMenuTriggerData]="{element: element}"
                [matMenuTriggerFor]="menu">
          <fa-icon [icon]="faBars" />
        </button>
        <mat-menu #menu="matMenu">
          <ng-template matMenuContent
                       let-element="element">
            <button (click)="navigateToEdit(element.id)"
                    mat-menu-item>
              <button mat-button
                      color="primary">
                <fa-icon [icon]="faPenToSquare" />
                Editar
              </button>
            </button>
            <button mat-menu-item
                    [disabled]="loadingActions()"
                    (click)="remove(element)">
              <button mat-button
                      color="warn">
                <fa-icon [icon]="faTrash" />
                Excluir
              </button>
            </button>
          </ng-template>
        </mat-menu>
      </td>
    </ng-container>


    <tr mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<div class="paginator-wrap">
  <mat-paginator [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="currentPageSize"
                 [length]="subjectService.totalRecords()"
                 showFirstLastButtons
                 (page)="onPageEvent($event)"
                 [hidePageSize]="subjectService.totalRecords() < pageSizeOptions[0]">
  </mat-paginator>
</div>
} @else {
<div>
  Você ainda não possui {{labels.plural}} {{labels.defArticle === 'o'? 'registrados' : 'registradas'}}
</div>
}
