* {
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
}

:root {
  --primary-color: #3b82f6;
  --accent-color: #000;
  --success-color: #517e16;
  --warn-color: #ff5349;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.grecaptcha-badge {
  display: none;
  .grecaptcha-logo {
    transition: all 0.3s ease-in-out;
  }
}

.width-40 {
  margin-inline-start: 20px;
  width: 40px;
}

.items-baseline {
  align-items: baseline;
}

mat-tab-group.headerless-tabs {
  mat-tab-header {
    display: none;
  }
}

a.text-link {
  text-shadow: none !important;
  color: #428bca;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: none;
  appearance: none;
}

.form-field-full-wrap {
  display: flex;
  flex-direction: column;
  &.center {
    align-items: center;
  }
}

.form-field-pair-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: baseline;
}

.form-field-three-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: baseline;
}

.form-field-four-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: baseline;
}

h3 {
  width: 100%;
}

.add-edit-actions {
  display: flex;
  justify-content: space-between;
}

// overwrite material default styles
.mdc-text-field--invalid {
  .mat-mdc-form-field-text-prefix {
    fa-icon {
      color: #d32f2f;
    }
  }
}

app-dashboard {
  .mat-expansion-panel-header {
    height: 36px !important;
  }
  .mat-expansion-panel-body {
    padding: 0px !important;
  }
  .mdc-list-item.mdc-list-item--with-one-line {
    height: fit-content !important;
  }
  .mdc-list-item {
    padding: 0px;
  }
}

app-nav-item {
  .mat-mdc-form-field-subscript-wrapper {
    height: 0px;
  }
}

.list-wrap {
  padding: 20px;
  display: flex;
  align-items: center;

  .list-label {
    text-align: center;
  }
}

.grid-3-wrap {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.table-wrap {
  position: relative;
  // max-height: calc(100% - 99.44px - 56px);
  &.scrollable {
    overflow-y: auto !important;
    height: 100%;
    padding-bottom: 180px;
  }
}

.paginator-wrap {
  position: sticky;
  bottom: 0px;
}

.add-edit-body,
.add-edit-header {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-start: 10px;
  &:first-child {
    padding-block-start: 20px;
  }
  padding-block-end: 10px;
  &:last-child {
    padding-block-end: 20px;
  }
}

.add-edit-header {
  display: flex;
  align-items: center;

  .list-label {
    text-align: center;
  }
}

.stats {
  padding: 20px 0px;
  .stats-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrap {
  padding: 20px;
  color: #3b82f6;
}

.mat-drawer-content {
  overflow: hidden !important;
}

.page {
  height: calc(100vh - 67px);
  overflow: auto;
}

.code {
  display: block;
  white-space: nowrap;
  background-color: #c8c8c8;
  padding: 5px 7.5px;
  border-radius: 12px;
}

.selector {
  .mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input {
    color: rgba(0, 0, 0, 0.87);
  }
}

.mat-elevation-z0,
.mat-mdc-elevation-specific.mat-elevation-z0 {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
}
